body{
  background-color: lightblue;
}
h1{
  font-size: 4em;
  text-align: center;
  font-family: sans-serif;
}
h2{
  font-size:2em;
  font-family: sans-serif;
}
h3{
  font-size:1em;
}
#paragraph2{
  width: 900px;
  background-color: white;
  margin: 20px;
  padding:25px;
  border:4px solid green;
}
.blue {
  color:white;
  background-color:darkblue;
  padding:20px;
}
ol{
  list-style-type:decimal-leading-zero;
}
a{
  color:darkblue;
}
a[target="_blank"]{
  color:darkred;
}
table{
  width:650px;
  border-collapse: collapse;
}
th{
  color:black;
  background-color:lightgrey;
  border:1px solid black;
}
td{
  background-color:white;
  padding:8px;
  border:1px solid black;
}