* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

a[href*="google.com"] {
  padding-right: 30px;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

article {
  color: lightgray;
  max-height: 340px;
  font-size:13px;
  font-family: Sans-Serif;
  overflow: hidden;
  transition: color 2s, max-height 2s;
}

article:hover {
  color: black;
  font-size:19px;
  max-height: 1000px;
}

nav button {
  background-color: blue;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: goldenrod;
}

#jumpMenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
  display: block;
  background-color: goldenrod;
}

#jumpMenu a {
  display: block;
  padding: 2px 5px;
  color: blue;
  text-decoration: none;
  text-align: center;
}

#jumpMenu a:hover {
  background-color: blue;
  color: black;
}

#menuItems {
  width: 15%;
  font-family: Sans-Serif;
  font-size: 20px;
  background-color: black;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

#menuItems button {
  width: 100%;
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 15px 0;
  font-size: 16px;
}

#menuItems button:hover {
  background-color: goldenrod;
}

header {
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
  padding: 30px 0;
}

header p {
  font-size: 40px;
  font-family:Comic Sans MS;
  margin: 0;
}

main {
  margin-left: 15%;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 40px 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: center;
  padding: 0 40px;
}

#thanks {
  position: fixed;
  bottom: 0;
  right: 0;
  background: lightblue;
  padding: 15px 10px;
  border: 1px solid black;
}


#thanks a {
  font-size: 40px;
  color: blue;
  text-decoration: underline;
}
footer {
  padding: 70px;
  background:black;
  color:white;
  font-size:2em;
}