* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", serif;
}

body {
  background: white;
}

#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background: darkgoldenrod;
  padding: 20px;
}

#jumpMenu h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size:1.8em;
}

#jumpMenu a {
  display: block;
  margin: 18px 0;
  color: blue;
  text-align:center;
  font-size:1.5em;
}

main {
  margin-left: 15%;
}

header {
  position: fixed;
  top: 0;
  left: 15%;
  width: 85%;
  background: red;
  text-align: center;
  z-index: 10;
}

header p {
  font-size: 2em;
  padding: 20px 0;
  font-family:Comic Sans MS;
}

header nav {
  background: black;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 12px 20px;
  padding: 0px 0;
}

header nav button {
  background: blue;
  color: white;
  border: none;
  font-family:Sans-Serif;
  padding: 20px 60px;
  font-size: 1.5em;
  margin:0;
  cursor: pointer;
}

h1 {
  margin-top: 220px;
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 40px;
  justify-content: center;
  padding: 0 60px;
}

article {
  width: 300px;
}

article h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

article p {
  font-size: 0.9em;
  line-height: 1.35;
}

#thanks {
  position: fixed;
  bottom: 0;
  right: 0;
  background: lightblue;
  padding: 30px;
  font-size: 2em;
  border: 1px solid black;
}

footer {
  padding: 70px;
  background:black;
  color:white;
  font-size:2em;
}